.container {
    width: 1280px;
    margin: 0 auto;
}

.collection__container {
    width: 1111px;
    margin:0 auto;
}

.workstep__container {
    width: 1111px;
    // margin-left: 165px;
    // margin-right: 230px;
    margin:0 auto;
}

.footer__container {
    width: 1111px;
    margin: 0 auto;
}