.header__navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__list-item {
    margin-left: 33px;
}